body {
	margin: 0 auto;
}

.nav-bar {
	list-style: none;
	background-color: #FFFFFF;
	padding-left: 2%;
}

.nav-bar li {
	display: inline-block;
	padding-left: 3%;
	font-family: 'Montserrat';
	vertical-align: middle;
}

.nav-bar a {
	text-decoration: none;
	color: #484848;
}

.logo h1 {
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	margin: 0;
	color: #484848;
}

.logo {
	padding-right: 40%;
}

/*end of nav bar css*/

.about-heading {
	padding-top: 4%;
	padding-bottom: 3%;
	text-align: center;
	color: white;
	font-family: Montserrat;
}

.about-content {
	text-align: center;
}

.column {
	display: inline-block;
	width: 28%;
	text-align: center;
	color: white;
	font-family: Montserrat;
	padding: 1%;
}

.aboutus-page {
	background-color: #479761;
	height: 800px;
	width: 100%;
}

.signup:hover {
	cursor: pointer;
}

.signup {
	border-radius: 8px;
	margin-top: 4%;
	font-size: 30px;
	padding: 15px;
	width: 280px;
	border:none;
	font-family: 'Montserrat';
	background-color: #FF3C3C;
	color: white;
	margin-left: calc(50% - 120px);
}
.whyCF{
	background-color: #19191B;
	font-family: Montserrat;
	padding: 8%;
	color: white;
}
.whyCF p{
	font-size: 20px;
}



/*----------------footer styling--------------*/

.column {
	width: 20%;
	display: inline-block;
	text-align: left;
	list-style: none;
	color: #19191B;
}

.column a {
	text-decoration: none;
	font-size: 12px;
	color: #19191B;
}

.footer {
	text-align: center;
	padding-bottom: 40px;
	margin-top: 330px;
	background-color: white;
}

.socialMediaRow img {
	width: 10%;
	padding-right: 8px;
}

#terms {
	padding-top: 10px;
}