body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;

}

.nav-bar {
	list-style: none;
	background-color: #FFFFFF;
	padding-left: 2%;
}

.nav-bar li {
	display: inline-block;
	padding-left: 3%;
	font-family: 'Montserrat';
	vertical-align: middle;
}

.nav-bar a {
	text-decoration: none;
	color: #484848;
}

.logo h1 {
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	margin: 0;
	color: #484848;
}

.logo {
	padding-right: 40%;
}

.page{
	background-image: url("images/signup.jpg");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	height: 110vh;
	width: 100%;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	flex-direction: column;
	padding-top: 3%;
}
.contact{
	background-image: none;
	background-color: #484848;
}
.form-title p{
	font-size: 38px;
	color: white;
	margin-top: 0;
}
.form-over{
	height: auto;
	width: 600px;
	background-color: white;
	padding:30px;
	border-radius: 8px;
}
.form-over p{
	margin-bottom: 1px;
	margin-top: 6px;
	font-size: 15px;
}
.drop{
	border-style: none;
	background-color: #EEEEEE; 
	height: 42px;
	border-radius: 8px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}
.signup-form input[type=text],.signup-form input[type=password]{
	border-style: none;
	background-color: #EEEEEE; 
	height: 40px;
	width: calc(100% - 15px);
	border-radius: 8px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	padding-left: 10px;
}
.signup-form input[type=submit]{
	margin-top: 25px;
	margin-bottom: 0px;
	border-style: none;
	background-color:#E77171; 
	height: 40px;
	width: 100%;
	border-radius: 8px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: white;
}
.signup-form textarea[name=message]{
	border-style: none;
	background-color:#EEEEEE; 
	height: 70px;
	padding: 10px;
	width: calc(100% - 25px);
	border-radius: 8px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	resize: none;
}
.split-width{
	width: 43.2%;
	display: inline-block;
}
.half-width{
	width: 48.5%;
	display: inline-block;
}
.state-div{
	display: inline-block;
	vertical-align: top;
	margin-right: 12px;
	margin-left: 10px;
}
.new-account{
	text-align: center;
}




.column {
	width: 20%;
	display: inline-block;
	text-align: left;
	list-style: none;
}

.column a {
	text-decoration: none;
	color: white;
	font-size: 12px;
}

.footer {
	text-align: center;
	padding-bottom: 40px;
	background-color: black;
	color: white;
}

.socialMediaRow img {
	width: 10%;
	padding-right: 8px;
}

#terms {
	padding-top: 10px;
}